/* body {
  background-image: url('/public/bg.jpg');
  background-size: cover;        
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;   
  color: #000;                    
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */
#about{
    

}